<div class="container__small-card">
  <div class="small-card__image">
    <img src="../../../assets/cars/ferrari_roma.JPG" alt="ferrari_roma">
  </div>
  <div class="small-card__text">
    <div class="small-card__title">
      <h1><a href="">Astonishing New Ferrari Roma</a></h1>
    </div>
    <div class="small-card__description">
      <p>Ferrari on Thursday rolled out the Roma, a record fifth new model announced this year...</p>
    </div>
  </div>
</div>
<div style="margin-bottom: 10px;">
  <hr>
</div>
