header{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles {
  display: flex;
  margin-top: 30px;
}

.articles__highlight {
  width: 50%;
  height: 500px;
}

.articles__list{
  width: 50%;
  height: 500px;
}
