<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__highlight">
    <app-big-card
      imageCover="../../../assets/cars/ferrari_roma.JPG"
      cardTitle="Astonishing New Ferrari Roma"
      cardDescription="Ferrari on Thursday rolled out the Roma, a record fifth new model announced this year..."
      id="1"
    ></app-big-card>
  </div>
  <div class="articles__list">
    <app-small-card
      imageCover="../../../assets/cars/byd_seal.JPG"
      cardTitle="Electric future with BYD Seal"
      cardDescription="It has made the desired eco-friendly car affordable"
      id="2"
    ></app-small-card>
    <app-small-card
      imageCover="../../../assets/cars/ram_1500.JPG"
      cardTitle="RAM 1500 delivers toughness and luxury"
      cardDescription="The strong V8 gasoline engine and the most advanced technologies combined"
      id="3"
    ></app-small-card>
    <app-small-card
      imageCover="../../../assets/cars/toyota_land.JPG"
      cardTitle="New Toyota Land Cruiser is a classic reinvented"
      cardDescription="Retro looks, off-road capacity, and lower prices"
      id="4"
    ></app-small-card>
  </div>

</div>
